.topnav {
    background-color:black;
    padding:10px;
    color:white;
    text-align:center;
    padding:40px;
    font-family:Raleway;
}

.topnav a {
    color:white
}

.main {   
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    background-color: red;
    padding: 20px;
    padding:40px;
    font-family:Raleway;
  }

  .bottom-nav {
    background-color: black;
    color:white;
    text-align:center;
    padding:40px;
    font-family:Raleway;
}